<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!--    <th:block th:include="layout/header"></th:block>-->
    <th:block th:include="layui"></th:block>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>

<div style="padding: 15px;">嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻嘻信息</div>
<svg id="my-svg"></svg>
<script>
    var svg = d3.select("#my-svg");
    var rect = svg.append("rect")
        .attr("x", 50)
        .attr("y", 50)
        .attr("width", 100)
        .attr("height", 50)
        .style("fill", "blue");
</script>
</body>
</html>